.center {
    display: flex;
    justify-content: center;
    align-items: center;
}

.between {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.between-reverse {
    display: flex;
    justify-content: space-between;
    flex-direction: row-reverse;
    align-items: center;
}

.around {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.icon {
    width: 18px;
    height: 18px;
}